#Ignore everything
*

#Whitelist anything that's a directory
!*/

#And all the file types I'm interested in.
!.gitignore
!*.py
!*.cpp
!*.h
!*.sh
!*.md
!*.ipynb
!CMakeLists.txt
!Makefile
!Dockerfile
!LICENSE
!stats-monitoring/data/document/monitoring_example.png
!stats-monitoring/poetry.lock
!stats-monitoring/pyproject.toml

.ipynb_checkpoints
