#Ignore everything
*

#Whitelist anything that's a directory
!*/

#ignore certain directory
movie/

#And all the file types I'm interested in.
!.gitignore
!*.py
!*.cpp
!*.h
!*.sh
!*.md
!*.ipynb
!CMakeLists.txt
!Makefile

cnn.py
.ipynb_checkpoints
